<html>
<div id="header" style="text-align:center">
<h1>Weather Query Webpage</h1>
</div>

<div style="text-align:center">
<img src="https://ss0.baidu.com/94o3dSag_xI4khGko9WTAnF6hhy/image/pic/item/29381f30e924b8992123c50a65061d950a7bf6e1.jpg" width="250" height="200" />

<form method="post">
<input type="text" name="City">
<input type="submit" name="button" value="Check">
</form>

<form method="get">
<input type="submit" name="button" value="History">
<input type="submit" name="button" value="Help">
</form>
</div>

<div style="text-align:center">
<br>
<p>{{message}}</p>
<br>
</div>

<div id="footer">
<address>
Copyright <a href="http://www.github.com/draachen">@draachen</a></br> 
Weather info provided by <a href="https://www.seniverse.com/">www.seniverse.com</a></br>
</address>
</div>
</html>